@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monument';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Monument-Extended-Regular.ttf") format("ttf"),
       url("../fonts/Monument-Extended-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monument';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Monument-Extended-UltraBold.ttf") format("ttf"),
       url("../fonts/Monument-Extended-UltraBold.woff") format("woff");
}

@font-face {
  font-family: 'Monument';
  font-style:  normal;
  font-display: auto;
  font-weight: bold;
  src: url("../fonts/Monument-Extended-Ultrabold.ttf") format("ttf"),
       url("../fonts/Monument-Extended-Ultrabold.woff") format("woff");
}

@font-face {
  font-family: 'Monument';
  font-weight: 800;
  src: url("../fonts/Monument-Extended-Ultrabold.ttf") format("ttf"),
       url("../fonts/Monument-Extended-Ultrabold.woff") format("woff");
}

@font-face {
  font-family: 'Monument';
  font-weight: 100;
  src: url("../fonts/Monument-Extended-Light.ttf") format("ttf"),
       url("../fonts/Monument-Extended-Light.woff") format("woff");
}
